<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
    <link href="//use.fontawesome.com/releases/v5.0.9/css/all.css" rel="stylesheet">
    <link href="//cssgram-cssgram.netdna-ssl.com/cssgram.min.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">
    <title>Jade Test</title>
  </head>
  <body>
    <div id="app">
      <div class="app__phone">
        <div class="phone-header"><img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/Instagram_logo.png">
          <p v-if="step === 2 || step === 3" @click="goToHome" class="cancel-cta">Cancel</p>
          <p v-if="step === 2" @click="step++" class="next-cta">Next</p>
          <p v-if="step === 3" @click="sharePost" id="reloadBtn" class="next-cta">Share</p>
        </div>
        <transition name="fade">
          <div v-if="step === 1" v-dragscroll.y="true" class="feed">
            <instagram-post v-for="post in posts" :post="post" :key="posts.indexOf(post)"></instagram-post>
          </div>
        </transition>
        <div v-if="step === 2">
          <div :class="filterType" :style="{ backgroundImage: 'url(' + image + ')' }" class="selected-image"></div>
          <div v-dragscroll.x="true" class="filter-container">
            <filter-type v-for="filter in filters" :filter="filter" :image="image" :key="filter.name"></filter-type>
          </div>
        </div>
        <div v-if="step === 3">
          <div :class="filterType" :style="{ backgroundImage: 'url(' + image + ')' }" class="selected-image"></div>
          <div class="caption-container">
            <textarea placeholder="Write a caption..." type="text" v-model="caption" class="caption-input"></textarea>
          </div>
        </div>
        <div class="phone-footer">
          <div @click="goToHome" class="home-cta"><i class="fas fa-home fa-lg"></i></div>
          <div class="upload-cta">
            <input id="file" type="file" name="file" @change="fileUpload" v-model="fileInput" :disabled="step !== 1" class="inputfile">
            <label for="file"><i class="far fa-plus-square fa-lg"></i></label>
            <p v-if="step === 1">Click <a @click="uploadRandomImage">here for a random image!</a> or upload your own! <i class="fas fa-chevron-right"></i></p>
          </div>
        </div>
      </div>
      <div class="details"><a v-if="!showDetails" @click="showDetails = !showDetails" class="button is-primary is-small is-info">Details</a>
        <ul v-else="">
          <li>Navigate the feed by <span>dragging (or scrolling)</span></li>
          <li>Upload an image with <span><i class="far fa-plus-square fa-lg"></i></span></li>
          <li>Like a post with <span><i class="far fa-heart fa-lg"></i></span> or <span>double clicking an image</span></li>
        </ul>
      </div>
    </div>
    <!-- Prefetch random images-->
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/tropical_beach.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/downtown.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/cat.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/sushi.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/pug_personal.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/pineapple.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/tropical_ocean.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/velvet_monkey.jpg">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/codepen_logo.png">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/me2.png">
    <link rel="prefetch" href="//s3-us-west-2.amazonaws.com/s.cdpn.io/1211695/me_3.jpg">
    <!-- Javascript-->
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="//unpkg.com/vue-dragscroll@1.3.1/dist/vue-dragscroll.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>